<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1>Geekhub Student Form</h1>
    <form method="POST" action="#">
        <div class="row">
            <label for="first-name">First Name:</label>
            <input class="form-control" type="text" id="first-name" name="first_name" value="{{ first_name }}">
        </div>
        <div class="row">
            <label for="last-name">Last Name:</label>
            <input class="form-control" type="text" id="last-name" name="last_name" value="{{ last_name }}">
        </div>
        <div class="row">
            <label for="email">Email:</label>
            <input class="form-control" type="text" id="email" name="email" value="{{ email }}">
        </div>
        <div class="row">
            <input class="btn btn-default" type="submit" valut="Create">
        </div>
    </form>
</div>
</body>
</html>